.house {
  position: relative;
  margin-left: 60px;
}

.gif {
  position: absolute;
  margin-left: 170px;
  margin-top: 140px;
}


.countdown {
  position: absolute;
  margin-left: 60px;
}

.croco {
  position: absolute;
  margin-top: 190px;
  margin-left: 70px;
  width: 70px;
  height: 70px;
  z-index: 10;
  opacity: 0;
}

.crocovis {
  position: absolute;
  margin-top: 190px;
  margin-left: 70px;
  width: 70px;
  height: 70px;
  z-index: 10;
  opacity: 1;
}

.croco1 {
  position: absolute;
  margin-top: 280px;
  margin-left: 680px;
  width: 70px;
  height: 70px;
  z-index: 10;
  opacity: 0;
}

.croco1vis {
  position: absolute;
  margin-top: 280px;
  margin-left: 680px;
  width: 70px;
  height: 70px;
  z-index: 10;
  opacity: 1;
}

.croco2 {
  position: absolute;
  margin-top: 410px;
  margin-left: 480px;
  width: 70px;
  height: 70px;
  z-index: 10;
  opacity: 0;
}

.croco2vis {
  position: absolute;
  margin-top: 410px;
  margin-left: 480px;
  width: 70px;
  height: 70px;
  z-index: 10;
  opacity: 1;
}

.croco3 {
  position: absolute;
  margin-top: 100px;
  margin-left: 940px;
  width: 70px;
  height: 70px;
  z-index: 10;
  opacity: 0;
}

.croco3vis {
  position: absolute;
  margin-top: 100px;
  margin-left: 940px;
  width: 70px;
  height: 70px;
  z-index: 10;
  opacity: 1;
}


.croco4 {
  position: absolute;
  margin-top: 600px;
  margin-left: 650px;
  width: 70px;
  height: 70px;
  z-index: 10;
  opacity: 0;
}

.croco4vis {
  position: absolute;
  margin-top: 600px;
  margin-left: 650px;
  width: 70px;
  height: 70px;
  z-index: 10;
  opacity: 1;
}