body {
  width: 100wh;
  height: 100%;
  color: #fff;
  background: linear-gradient(-45deg, #26201f, #111111, #2b1107, #312622);
  background-size: 800%;
  background-attachment: fixed;
  -webkit-animation: Gradient 45s ease infinite;
  -moz-animation: Gradient 45s ease infinite;
  animation: Gradient 45s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
